/*=====Font and typography ======== */
/*== .0.5rem = 8px | 1rem = 16px == */

$body: "poppins", sans-serif;
$biggest-font-size: 2rem;
$bigger-font-size: 1.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/

$font-regular: 400;
$font-medium: 500;
$font-sami-bold: 600;
$font-bold: 700;
$font-bold-extra: 800;
