$body-color: hsl(0, 0%, 1%);
$text-color-white-fast: #ffffff;
$text-color-white-fast-medium: #fff;
$tittle-color: hsl(228, 8%, 95%);
$text-color-white-sami: #ddd;
$text-color-white-sami-bold: #dddd;
$text-color-black-fast: black;
$text-color-black-medium: rgb(44, 41, 41);
$container-color: hsl(228, 15%, 15%);
