.container {
  max-width: 4000px;
  width: 100%;
}

.padding-container {
  padding: 1rem 1rem;
}
.display-flex {
  display: flex;
}
.overflow-hidden {
  overflow: hidden;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-9 {
  z-index: 9;
}
